/*

.table-1 {
  border: 2px solid gray;
  border-spacing: 10px;
  border-collapse: separate;
  text-align: center;
  caption-side: bottom;  
}

th, td {
  paddiong: 0.4em 0.8em;
  border: 2px solid lightgray;
  text-align: center;
}

*/

/*
.table-1 {
  border-collapse: collapse;
  border-collapse: separate;

  border: 1px solid black;

  border-spacing: 0.5em;
  
  caption-side: top;
  caption-side: bottom;

  table-layout: auto;
  table-layout: fixed;
}

th, td {
  padding: 12px;
  border: 1px solid gray;
}

colgroup col:first-child {
  width: 300px;
}

.float-1 {
  width: 200px; height: 200px;
  background-color: #722121;
  border-radius: 50%;
  overflow: hidden;
}

.float-2 {
  width: 300px;
  height: 300px;
}
  */

.float-1 {
  width: 200px; height: 200px;
  background-color: blue;
  margin: 10px;
  padding: 20px;
}

.float-2 {
  width: 200px; height: 200px;
  background-color: red;
  margin: 10px;
  padding: 20px;
}